body {
    background-color: #0D0F18;
}

.registration {
    width: 350px;
    margin: 50px auto;
    border: 7px solid #666;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    input { padding } : 8px 10px;
}