body {
    background-color: #0D0F18;
}

.registrationForm {
    width: 400px;
    margin: 60px auto;
    padding: 30px;
    border: 2px solid #666;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    background-color: #1E1E2F;

    display: flex;
    flex-direction: column;
    gap: 15px;

    color: #FFFFFF;
}

.registrationForm h2 {
    font-size: 30px;
    font-family: 'Roboto', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #FFD369;
    text-align: center;
    margin-bottom: 20px;
}

.registrationForm label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FFD369;
}

.registrationForm input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

.registrationForm button {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 6px;

    background: #FC6E51;
    color: #1E1E2F;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}